In [1]:
# Bibliotecas de uso geral
import numpy as np
import pandas as pd

In [5]:
# Criando dataset de testes
df = pd.DataFrame([
                  ['solteiro'  , '10', 'M', 'cliente_ouro'], 
                  ['casado'    , '40', 'G', 'cliente_prata'], 
                  ['desquitado', '30', 'P', 'cliente_bronze'],
                  ['solteiro'  , '45', 'G', 'cliente_prata']])

# Associando um identificador para cada coluna
df.columns = ['estado_civil', 'idade', 'tamanho_roupa', 'tipo_cliente']
df

  estado_civil idade tamanho_roupa    tipo_cliente
0     solteiro    10             M    cliente_ouro
1       casado    40             G   cliente_prata
2   desquitado    30             P  cliente_bronze
3     solteiro    45             G   cliente_prata

In [6]:
# Associando um rótulo a cada classe da saída tipo_cliente
from sklearn.preprocessing import LabelEncoder
mapclass = LabelEncoder()
y = mapclass.fit_transform(df['tipo_cliente'].values)
y

array([1, 2, 0, 2])

In [8]:
# Transformando as características em categóricas novamente
mapclass.inverse_transform(y)

array(['cliente_ouro', 'cliente_prata', 'cliente_bronze', 'cliente_prata'],
      dtype=object)

In [12]:
# Transformando a característica categórica estado_civil utilizando one-hot-enconding
pd.get_dummies(df[['estado_civil']])

   estado_civil_casado  estado_civil_desquitado  estado_civil_solteiro
0                    0                        0                      1
1                    1                        0                      0
2                    0                        1                      0
3                    0                        0                      1

In [13]:
# Transformando a característica categórica estado_civil utilizando one-hot-enconding
# e removendo uma característica redundante (nesse caso estado_civil_casado)
pd.get_dummies(df[['estado_civil']], drop_first=True)

   estado_civil_desquitado  estado_civil_solteiro
0                        0                      1
1                        0                      0
2                        1                      0
3                        0                      1