In [2]:
# Bibliotecas de uso geral
import numpy as np
import pandas as pd
from io import StringIO

In [12]:
# Criando um conjunto artificial de amostras com 4 características
csv_data = \
    '''a,b,c,d 
       1.0,2.0,3.0,4.0
        8.0,6.0,,8.0
        11.0,15.0,30.0,'''

# "Lendo" do conjunto
df = pd.read_csv(StringIO(csv_data))

# Visualizando os dados dentro do DataFrame do pandas
df

      a     b     c   d
0   1.0   2.0   3.0  4.0
1   8.0   6.0   NaN  8.0
2  11.0  15.0  30.0  NaN

In [13]:
# Imprimindo um resumo dos valores faltando por coluna
df.isnull().sum()

a     0
b     0
c     1
d     1
dtype: int64

In [14]:
# Eliminando linhas incompletas
df.dropna(axis=0)

     a    b    c   d
0  1.0  2.0  3.0  4.0

In [15]:
# Eliminando colunas incompletas
df.dropna(axis=1)

      a     b
0   1.0   2.0
1   8.0   6.0
2  11.0  15.0

In [17]:
# Incluindo a Imputer
from sklearn.preprocessing import Imputer

# Instância de Imputer com as opções de remover NaN, usando média para substituir os valores incompletos no eixo 0
filtranulos = Imputer(missing_values='NaN', strategy='mean', axis=0)
dados_sem_nulos = filtranulos.fit_transform(df.values)
dados_sem_nulos

array([[ 1. ,  2. ,  3. ,  4. ],
       [ 8. ,  6. , 16.5,  8. ],
       [11. , 15. , 30. ,  6. ]])